[submodule "EXTERNAL_INCLUDES/BOOST/lockfree"]
	path = EXTERNAL_INCLUDES/BOOST/lockfree
	url = https://github.com/boostorg/lockfree.git
[submodule "EXTERNAL_INCLUDES/BOOST/align"]
	path = EXTERNAL_INCLUDES/BOOST/align
	url = https://github.com/boostorg/align.git
[submodule "CPP/Libraries/libDefer"]
	path = CPP/Libraries/libDefer
	url = https://github.com/Grauniad/CPP-Defer.git
[submodule "EXTERNAL_INCLUDES/RAPID_JSON/rapidjson"]
	path = EXTERNAL_INCLUDES/RAPID_JSON/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "EXTERNAL_INCLUDES/websocketpp"]
	path = EXTERNAL_INCLUDES/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
